<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Tucillo_Menu>
            <version>0.2.2</version>
        </Tucillo_Menu>
    </modules>
    <global>
        <models>
            <menu>
                <class>Tucillo_Menu_Model</class>
                <resourceModel>tucillo_menu_resource</resourceModel>
            </menu>
            <tucillo_menu_resource>
                <class>Tucillo_Menu_Model_Resource</class>
                <entities>
                    <menu>
                        <table>tucillo_menu</table>
                    </menu>
                    <item>
                        <table>tucillo_menu_item</table>
                    </item>
                </entities>
            </tucillo_menu_resource>
        </models>
        <helpers>
            <menu>
                <class>Tucillo_Menu_Helper</class>
            </menu>
        </helpers>
        <blocks>
            <menu>
                <class>Tucillo_Menu_Block</class>
            </menu>
        </blocks>
        <resources>
            <tucillo_menu_setup>
                <setup>
                    <module>Tucillo_Menu</module>
                </setup>
            </tucillo_menu_setup>
        </resources>
        <events>
            <controller_action_layout_load_before>
                <observers>
                    <tucillo_menu_layout>
                        <class>Tucillo_Menu_Model_Observer</class>
                        <method>addHandle</method>
                    </tucillo_menu_layout>
                </observers>
            </controller_action_layout_load_before>
        </events>
    </global>
    <frontend>
        <layout>
            <updates>
                <menu>
                    <file>tucillo/menu.xml</file>
                </menu>
            </updates>
        </layout>
        <translate>
            <modules>
                <tucillo_menu>
                    <files>
                        <default>Tucillo_Menu.csv</default>
                    </files>
                </tucillo_menu>
            </modules>
        </translate>
    </frontend>
    <admin>
        <routers>
            <menu>
                <use>admin</use>
                <args>
                    <module before="Mage_Adminhtml">Tucillo_Menu</module>
                    <frontName>menu</frontName>
                </args>
            </menu>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <menu>
                    <file>tucillo/menu.xml</file>
                </menu>
            </updates>
        </layout>
        <translate>
            <modules>
                <tucillo_menu>
                    <files>
                        <default>Tucillo_Menu.csv</default>
                    </files>
                </tucillo_menu>
            </modules>
        </translate>
    </adminhtml>
</config>