<?xml version="1.0"?>
<config>
    <tabs>
        <tucillo translate="label" module="menu">
            <label>Tucillo</label>
            <sort_order>105</sort_order>
        </tucillo>
    </tabs>
    <sections>
        <tucillo_menu>
            <label>Tucillo Menu</label>
            <tab>tucillo</tab>
            <frontend_type>text</frontend_type>
            <sort_order>9999</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <basic_info translate="label" module="menu">
                    <label>Informações Básicas</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enabled translate="label">
                            <label>Enable Main Menu</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_enabledisable</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enabled>
                    </fields>
                </basic_info>
            </groups>
        </tucillo_menu>
    </sections>
</config>
